<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>templates/members.html</title>
<link rel="stylesheet" href="/static/css/bootstrap.css" />
</head>
<body>
<div class="container">
	<table class= "table table-bordered">
		<thead>
			<tr>
				<th>번호</th>
				<th>이름</th>
				<th>주소</th>
			</tr>
		</thead>
		<tbody>
			{% for item in members %}
			<tr>
				<th>{{item.num}}</th>
				<th>{{item.name}}</th>
				<th>{{item.addr}}</th>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</body>
</html>